header.navbar{
    min-height:100px;
    width:100%;
    position: absolute;
    display:flex;
    justify-content: center;
    z-index:1;
    padding:20px 0;

}

header.navbar .container{
    display:flex;
    justify-content: flex-start;
    align-items: center;
}

header.navbar .nav-logo-container{
    max-width:300px;
}

header.navbar .nav-logo-container img{
    width:100%;
    height: auto;
}


@media only screen and (max-width: 375px){
    header.navbar{
        height:100px;
    }
    header.navbar .nav-logo-container{
        max-width:250px;
    }
}

@media only screen and (max-width:1024px){
    header.navbar{
        position: relative;
        -webkit-box-shadow: 0 8px 6px -6px rgba(50, 58, 67, .2);
        -moz-box-shadow: 0 8px 6px -6px rgba(50, 58, 67, .2);
        box-shadow: 0 8px 6px -6px rgba(50, 58, 67, .2);
    }

}